:root{
    --gunmetal: #292F36;
    --medium-turquoise: #4ECDC4;
    --mint-cream: #F7FFF7;
    --bittersweet: #FF6B6B;
    --yellow-crayola: #FFE66D;
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
